<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="アオガク空き教室">
  <meta property="og:description" content="空き教室を教えてくれるよ">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary">
  <link rel="stylesheet" href="../static/search.css">
  <title>アオガク空き教室</title>
</head>
<body>
  <header>
    アオガク空き教室
  </header>
  <main>
    <form action="/search" , method="post" class="form">
      <select name="campus" value="">
        <option>青山</option>
        <option>相模原</option>
      </select>
      <select name="term" id="">
        <option>前期</option>
        <option selected>後期</option>
      </select>
      <select name="day">
        <option>月</option>
        <option>火</option>
        <option>水</option>
        <option>木</option>
        <option>金</option>
        <option>土</option>
      </select>
      <!-- シラバスの情報は全角のため全角 -->
      <select name="time">
        <option>１</option>
        <option>２</option>
        <option>３</option>
        <option>４</option>
        <option>５</option>
        <option>６</option>
        <option>７</option>
      </select>
      <input type="submit" value="さがす">
    </form>
    <div class="affiliate">
      <a href="https://px.a8.net/svt/ejp?a8mat=3NL52J+7KOJUA+50+2HFQHT" rel="nofollow">
        <img border="0" width="200" height="200" alt="" src="https://www22.a8.net/svt/bgt?aid=221016043458&wid=001&eno=01&mid=s00000000018015022000&mc=1">
      </a>
      <img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3NL52J+7KOJUA+50+2HFQHT" alt="">
    </div>
    <div class="result-title">
      {% if campus %}
      {{campus}}キャンパス
      {% endif %}
      {% if term %}
      {{term}}
      <!--学期-->
      {% endif %}
      {% if day %}
      {{day}}曜日
      {% endif %}
      {% if time %}
      {{time}}時限<br>空き教室は
      {% endif %}
    </div>
    <div class="result-content">
      {% for list in results %}
      <ul>
        <li class="result-content-timelecture">{{list[0]}}<br>授業名:{{list[1]}}</li>
        <li class="result-content-class">教室名:{{list[2]}}</li>
      </ul>
      {% endfor %}
    </div>
  </main>
  
</body>
</html>